@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
/*.header {
  background-color: #660540;
  position: absolute;
  width: 100%;
  padding: 0.5em;
  height: 10px;
  margin-top: -7px;
}
*/

body {
  margin: 0;
}

.header > p {
  font-family: Lato;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.7em;
}

.header > p > a {
  text-decoration: none;
  color: inherit;
}

.header > p > a:hover {
  color: white;
}

.header {
  background-color: red;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.header > ul > li {
  float: left;
}

html {
  background: url(dimanuve_bg_2.png) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo-content > img {
  display: block;
  margin: 0 auto;
}

.cd > img {
  height: auto;
  width: auto;
  max-height: 700px;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  position: relative;
  transform: translate(13%, -10%);
}

.description-box-title {
  font-family: Ubuntu Mono;
  color: white;
  text-align: center;
  margin-top: -2%;
  font-size: 18px;
  text-decoration: underline;
  padding-bottom: 1em;
}

.description-box-description {
  display: grid;
  background-color: #0000ff;
  max-width: 600px;
  height: 90px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 2em;
  grid-gap: 0.5em;
  /* grid-column-gap: 1em; */
  margin: 0 auto;
  font-family: Ubuntu Mono;
  font-size: 14px;
  color: white;
  font-weight: 900;
  line-height: 1.2em;
  padding-left: 0.5em;
}

.description-box-description > ul > li {
  list-style-type: none;
}

.animatedParagraph_1 {
  position: absolute;
  height: auto;
}

li {
  list-style: none;
}
